@{
    ViewData["Title"] = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div class="container">
    <main role="main" class="pb-3">
        <!-- Contact Section Begin -->
        <section class="contact spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="contact__content">
                            <div class="contact__address">
                                <h5>Thông tin liên hệ</h5>
                                <ul>
                                    <li>
                                        <h6><i class="fa fa-map-marker"></i> Address</h6>
                                        <p>19, Nguyen Huu Tho Street, Tan Phong Ward, District 7, Ho Chi Minh City</p>
                                    </li>
                                    <li>
                                        <h6><i class="fa fa-phone"></i> Phone</h6>
                                        <p><span>(028) 37 755 035</span></p>
                                    </li>
                                    <li>
                                        <h6><i class="fa fa-fax"></i> Fax</h6>
                                        <p>(028) 37 755 055</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="contact__map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15680.09752193814!2d106.699469!3d10.7326029!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x33c1813055acb613!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBUw7RuIMSQ4bupYyBUaOG6r25n!5e0!3m2!1svi!2s!4v1641048873337!5m2!1svi!2s" 
                                    height="780" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section End -->
    </main>
</div>